.header{
    display: flex;
    justify-content: center;
    background-color: #333333;
}

.header h1{
    color: white;
}


.canvas-area{
    height: 500px;
}


.left-buttons{
    width: 20%;
    float: left;
    margin-left: 10%;
}


.right-buttons{
    float: right;
    margin-right: 10%;
}


.sort-buttons{
    
   
}

.sort-buttons button{
    margin-right: 20px;
}